#page5
    #top
        #top-left
            h2
                span.relax Relax.
                span We've got you.
            button Book your Slot!
        #top-right
            h3
              a(href="#page1") About us
            h3
              a(href="/listParking") List Parking
            h3
              a(href="/findParking") Find Parking
    #center
        h3
            i Made with love.
        h1
            span.relax-park p
            span.relax-park a
            span.relax-park r
            span.relax-park k
            span.relax-park2 क
            span.relax-park2 र
        h3 ©️2024 legal