footer.footer 
    .footer__logo 
        img(src=`/img/logoParker.png`, alt=`PARKकर®️ logo`)
    ul.footer__nav 
        li: a(href=`/`) About us
        li: a(href=`/listParking`) List Parking
        li: a(href=`/findParking`) Find Parking
    p.footer__copyright &copy; by Daddys. All rights reserved.